body
  +light
  color: $text-color
.section
  padding: 100px 0  
.section-title
  text-align: center
  font-size: 30px
  text-transform: uppercase
  +bold
.section__title
  margin-bottom: 100px  
.button-o
  border: 2px solid $primary  
  color: $primary
  padding: 17px 22px
  text-transform: uppercase
  font-size: 12px
  background-color: #fff
  +bold
.button
  border: none
  text-transform: uppercase
  padding: 25px 45px  
  background-color: $primary
  color: white
  +bold
  cursor: pointer
.bg-secondary
  background-color: #f1f1f1  
.input
  height: 80px  
  padding-left: 30px
  border: 1px solid #ddd  
input[type="checkbox"]
  display: none
  &:checked + label:before
      background-color: $primary
.checkbox 
  &-label
    display: flex
    align-items: center
    margin-right: 40px
    &:hover
      cursor: pointer
    &:before
      content: ''
      width: 30px
      height: 30px
      border: 1px solid #ddd
      margin-right: 20px
@media screen and (max-width: 576px)
  .button-0
    font-size: 10px
  .section
    padding: 60px 0
    &-title  
    font-size: 22px  