.discount
  padding: 129px 0
  &__block
    background: white url(../img/discount-bg.jpg) no-repeat center right 
    background-size: contain
    padding: 80px
  &__block
  &__title
    font-size: 25px
    text-transform: uppercase
    +bold
    margin-bottom: 20px
  &__subtitle
    display: block  
    width: 610px
    font-size: 18px
    margin-bottom: 30px
.form
  &__subtitle
    width: 390px    
    margin-left: 40px
    color: #596164
    font-size: 17px
@media screen and ( max-width: 1199px )
  .form
    &__subtitle
      width: 230px    
      margin-left: 40px
      color: #596164
      font-size: 17px
@media screen and (max-width: 991px)  
  .discount
    &__block
      background: white url(../img/discount-bg.jpg) no-repeat center right -30%
      background-size: contain
    &__subtitle
      display: block  
      width: 85%
      font-size: 18px  
  .form
    &__subtitle
      display: none   
@media screen and (max-width: 768px)   
  .discount
    &__block
      background-image: none   
      padding: 40px
    &__title
      font-size: 20px
    &__subtitle
      display: block  
      width: 100%
      font-size: 16px       
      